@model List<BasketVM>

@{
    ViewData["Title"] = "Index";
}

<div class="headofcart">
        <div class="container">
            <h1>Cart</h1>
            <div class="contentabout">
                <a asp-controller="home">Home</a>
                <span style="color: white; margin: 0 10px;">></span>
                <a asp-controller="basket"><span>Cart</span></a>
            </div>
            <hr style="margin: 20px 47px 0; color: #a3a3a3;">
        </div> 
    </div>
<main class="cart-page cart-page-main-block inner-page-sec-padding-bottom cart-main-checkoutpage">
    <div class="basketDetails">
        @await Html.PartialAsync("_BasketIndexPartial", Model)
    </div>
</main>