<div class="container">
    <div class="startofcontact">
        <h1>Contact</h1>
        <div>
            <a asp-controller="home">Home</a>
            <span>></span>
            <a asp-controller="contact">Contact</a>
        </div>
    </div>

    <section id="Map">
        <iframe loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" aria-label="London Eye, London, United Kingdom" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" data-ll-status="loaded" class="entered lazyloaded"></iframe>
    </section>
    <section id="Bodycontact">
        <div class="rowa">
            <div class=" left col-lg-6 col-md-6">
                <div class="textofcon">
                    <div class="hofcontact">
                        <h3>TELL US YOUR PROJECT</h3>
                    </div>
                    <div class="pofcontact">
                        <div class="sol col-lg-6">
                            <span>Your name</span>
                            <input type="text">
                        </div>
                        <div class="sol col-lg-6">
                            <span>Your email</span>
                            <input type="email">
                        </div>
                        <div class="sol col-lg-6">
                            <span style="    margin-right: 24px;
                            ">Subject</span>
                            <input type="text">
                        </div>
                        <div class="alt h-190px">
                            <span>Your message</span>
                            <textarea style="width: 89%;" placeholder="Your Reviews *"></textarea>
                            <a href="">SEND </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" right col-lg-6 col-md-6">
                <div class="hdiv">
                    <h3>CONTACT US</h3>
                </div>
                <div class="textofp">
                    <div class="textdivv">
                        <div>
                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas human.</p>
                        </div>
                        <hr style="margin-top: 20px;">
                        <div class="rowas">
                            <div style="margin: 10px 0;">
                                <i class="fa-solid fa-mobile-retro"></i>
                                <span>Address:No 40 Baria Street 133/2 NewYork City</span>
                            </div>
                            <hr>
                            <div style="margin: 10px 0;">
                                <i class="fa-solid fa-phone"></i>
                                <span>Infor@chairman.com</span>
                            </div>
                            <hr>
                            <div style="margin: 10px 0;">
                                <i class="fa-solid fa-envelope"></i>
                                <span>0(1234) 567 890</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="workinghofp">
                    <h3>Working hours</h3>
                    <span>Monday – Saturday: 08AM – 22PM</span>
                </div>
            </div>
        </div>

    </section>
    <section id="Footer">
        <div class="container">
            <div class="fot-al ">
                <div class="first col-sm-12 col-12  col-lg-3 ">
                    <h1>About Monsta</h1>
                    <p>Head Office 26 Wyle Cop, Shrewsbury</p>
                    <p>Shropshire, SY1 1XD</p>
                    <p><span>Tel: </span>01743 234500</p>
                    <p><span>Email: </span>support&kowine.com</p>
                    <div class="icon-div">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-solid fa-rss"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
                <div class="second col-sm-12 col-12 col-lg-3">
                    <h1>Information</h1>
                    <a href="">About Us</a>
                    <a href="">Blog</a>
                    <a href="">Contact</a>
                    <a href="">Services</a>
                    <a href="">Sample Page</a>
                </div>
                <div class="third col-sm-12 col-12 col-lg-3">
                    <h1>My Account</h1>
                    <a href="">My Account</a>
                    <a href="">Blog</a>
                    <a href="">Wishlist</a>
                    <a href="">Services</a>
                    <a href="">Sample Page</a>
                </div>
                <div class="fourth col-sm-12 col-12 col-lg-3">
                    <h1>Top Rated Products</h1>
                    <div class="fourth-pic">
                        <div class="fourth-left">
                            <div class="lef-img">
                                <a href="">
                                    <img src="assets/images/sat.jpg" alt="">
                                </a>
                                <div class="fourth-right">
                                    <p>
                                        Accessories,Construction,Electronics,
                                        <br>
                                        Headphone
                                    </p>
                                    <h5>Donec Eu Animal</h5>
                                    <div>
                                        <span class="fotprice">$74.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="fourth-pic">
                        <div class="fourth-left">
                            <div class="lef-img">
                                <a href="">
                                    <img src="assets/images/sat2.jpg" alt="">
                                </a>
                                <div class="fourth-right">
                                    <p>
                                        Accessories,Construction,Electronics,
                                        <br>
                                        Headphone
                                    </p>
                                    <h5>Donec Eu Animal</h5>
                                    <div>
                                        <span class="fotprice">$74.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Footerin-foteri">
        <div class="container">
            <div class="son">
                <span>Home</span>
                <span>Online Store</span>
                <span>Promotion</span>
                <span>PrimacyPolicy</span>
                <span>Terms Of Use</span>
                <span>Support</span>
                <span>Contacts</span>
            </div>
            <div class="son2">
                <span>Home</span>
                <span>Online Store</span>
                <span>Promotion</span>
                <span>PrimacyPolicy</span>
                <div class="sonofson">
                    <span>Terms Of Use</span>
                    <span>Support</span>
                    <span>Contacts</span>
                </div>
            </div>
            <div class="son-end">
                <p> Copyright © 2018 <span>RoadThemes.</span> All Right Reserved.</p>
                <img src="http://monsta.mallthemes.com/monsta-black/wp-content/uploads/2018/05/payment-300x28.png" alt="">
            </div>
        </div>
    </section>
</div>