<div class="container">
    <div class="startofcontact">
        <h1>Contact</h1>
        <div>
            <a asp-controller="home">Home</a>
            <span>></span>
            <a asp-controller="contact">Contact</a>
        </div>
    </div>

    <section id="Map">
        <iframe loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" aria-label="London Eye, London, United Kingdom" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" data-ll-status="loaded" class="entered lazyloaded"></iframe>
    </section>
    <section id="Bodycontact">
        <div class="rowa">
            <div class=" left col-lg-6 col-md-6">
                <div class="textofcon">
                    <div class="hofcontact">
                        <h3>TELL US YOUR PROJECT</h3>
                    </div>
                    <div class="pofcontact">
                        <div class="sol col-lg-6">
                            <span>Your name</span>
                            <input type="text">
                        </div>
                        <div class="sol col-lg-6">
                            <span>Your email</span>
                            <input type="email">
                        </div>
                        <div class="sol col-lg-6">
                            <span style="    margin-right: 24px;
                            ">Subject</span>
                            <input type="text">
                        </div>
                        <div class="alt h-190px">
                            <span>Your message</span>
                            <textarea style="width: 89%;" placeholder="Your Reviews *"></textarea>
                            <a href="">SEND </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" right col-lg-6 col-md-6">
                <div class="hdiv">
                    <h3>CONTACT US</h3>
                </div>
                <div class="textofp">
                    <div class="textdivv">
                        <div>
                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas human.</p>
                        </div>
                        <hr style="margin-top: 20px;">
                        <div class="rowas">
                            <div style="margin: 10px 0;">
                                <i class="fa-solid fa-mobile-retro"></i>
                                <span>Address:No 40 Baria Street 133/2 NewYork City</span>
                            </div>
                            <hr>
                            <div style="margin: 10px 0;">
                                <i class="fa-solid fa-phone"></i>
                                <span>Infor@chairman.com</span>
                            </div>
                            <hr>
                            <div style="margin: 10px 0;">
                                <i class="fa-solid fa-envelope"></i>
                                <span>0(1234) 567 890</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="workinghofp">
                    <h3>Working hours</h3>
                    <span>Monday – Saturday: 08AM – 22PM</span>
                </div>
            </div>
        </div>

    </section>
    
</div>