<div class="startofblogcontinue">
    <h1>Blog</h1>
    <div class="contblog">
        <a asp-controller="home">Home</a>
        <span>></span>
        <a asp-controller="blog">Classic</a>
        <span>></span>
        <p class="specialforblog">Blog Image Post</p>
    </div>
    <br>
    <hr style="width: 80%; margin-left: 9rem; color: #3e3d3d; ">
</div>
<section id="Continuebloga">
    <div class="container">
        <div class="imgbloga">
            <img src="~/assets/images/14blog.jpg" alt="" srcset="">
        </div>
        <div class="hofcloga">
            <h3>Blog Image Post</h3>
        </div>
        <div class="allofbloga">
            <div class="pofbloga">
                <p>
                    Donec vitae hendrerit arcu, sit amet faucibus nisl.
                    Cras pretium arcu ex. Aenean posuere libero eu augue
                    condimentum rhoncus. Praesent ornare tortor ac ante               egestas hendrerit. Aliquam et metus pharetra,
                    bibendum massa nec, fermentum odio. Nunc id leo
                    ultrices, mollis ligula in, finibus tortor.
                    Mauris eu dui ut lectus fermentum eleifend.
                    Pellentesque faucibus sem ante, non malesuada
                    odio varius nec. Suspendisse potenti.
                </p>
            </div>
            <div class="italicpostofbloga">
                <em>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.</em>
            </div>
            <div class="afterpofbloga">
                <p>
                    Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum.
                    Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum. Curabitur lobortis,
                    elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem
                    non lorem. Duis suscipit metus ante, sed
                    convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at
                    risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu.
                    Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis. Praesent pretium tellus
                    in tortor viverra condimentum. Nullam dignissim facilisis nisl, accumsan
                    placerat justo ultricies vel. Vivamus finibus mi a neque pretium, ut convallis
                    dui lacinia. Morbi a rutrum velit. Curabitur sagittis quam quis consectetur mattis. Aenean sit amet quam vel turpis
                    interdum sagittis et eget neque. Nunc ante quam, luctus et neque a, interdum
                    iaculis metus. Aliquam vel ante mattis, placerat orci id,
                    vehicula quam. Suspendisse quis eros cursus, viverra urna sed, commodo mauris.
                    Cras diam arcu, fringilla a sem condimentum, viverra facilisis nunc. Curabitur
                    vitae orci id nulla maximus maximus. Nunc pulvinar sollicitudin molestie.
                </p>
            </div>
            <div style="visibility: hidden;" class="right">
                <div class="icon-div">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-solid fa-rss"></i>
                </div>
            </div>
        </div>
    </div>

</section>