
@{
    ViewData["Title"] = "Index";
}

<div class="startofcontact">
    <h1>Blog</h1>
    <div>
        <a asp-controller="home">Home</a>
        <span>></span>
        <a asp-controller="blog">Blog</a>
    </div>
</div>
<div class="container">
    <section id="BlogSlid">
        <div class="container">
            <div class="allofbolg">
                <div class="leftblog col-lg-6">
                    <img src="~/assets/images/14blog.jpg" alt="">
                </div>
                <div class="rightblog">
                    <div class="firsttype">
                        <i class="fa-solid fa-thumbtack"></i>
                        <p> Blog Image Post</p>
                    </div>
                    <div class="contentofblog">
                        <i class="fa-solid fa-user"></i>
                        <p> Posted by <span>admin</span></p>
                        <i class="privet fa-solid fa-grip-lines-vertical"></i>
                        <i class="fa-solid fa-calendar-days"></i>
                        <p>Posted on March 10, 2015</p>
                    </div>
                    <div class="afterblogright">
                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu</p>
                    </div>
                    <div class="endofblog">
                        <button><a asp-controller="blogcontinue"><span>Continue Reading</span></a></button>
                    </div>
                </div>
            </div>
            <div class="allofbolg">
                <div class="leftblog col-lg-6">
                    <img src="~/assets/images/5blog.jpg" alt="">
                </div>
                <div class="rightblog">
                    <div class="firsttype">
                        <i class="fa-solid fa-thumbtack"></i>
                        <p> Blog Image Post</p>
                    </div>
                    <div class="contentofblog">
                        <i class="fa-solid fa-user"></i>
                        <p> Posted by <span>admin</span></p>
                        <i class="privet fa-solid fa-grip-lines-vertical"></i>
                        <i class="fa-solid fa-calendar-days"></i>
                        <p>Posted on March 10, 2015</p>
                    </div>
                    <div class="afterblogright">
                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu</p>
                    </div>
                    <div class="endofblog">
                        <button><a asp-controller="blogcontinue"><span>Continue Reading</span></a></button>
                    </div>
                </div>
            </div>
            <div class="allofbolg">
                <div class="leftblog col-lg-6">
                    <img src="~/assets/images/9blog.jpg" alt="">
                </div>
                <div class="rightblog">
                    <div class="firsttype">
                        <i class="fa-solid fa-thumbtack"></i>
                        <p> Blog Image Post</p>
                    </div>
                    <div class="contentofblog">
                        <i class="fa-solid fa-user"></i>
                        <p> Posted by <span>admin</span></p>
                        <i class="privet fa-solid fa-grip-lines-vertical"></i>
                        <i class="fa-solid fa-calendar-days"></i>
                        <p>Posted on March 10, 2015</p>
                    </div>
                    <div class="afterblogright">
                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu</p>
                    </div>
                    <div class="endofblog">
                        <button><a asp-controller="blogcontinue"><span>Continue Reading</span></a></button>
                    </div>
                </div>
            </div>
            <div class="allofbolg">
                <div class="leftblog col-lg-6">
                    <img src="~/assets/images/10blog.jpg" alt="">
                </div>
                <div class="rightblog">
                    <div class="firsttype">
                        <i class="fa-solid fa-thumbtack"></i>
                        <p> Blog Image Post</p>
                    </div>
                    <div class="contentofblog">
                        <i class="fa-solid fa-user"></i>
                        <p> Posted by <span>admin</span></p>
                        <i class="privet fa-solid fa-grip-lines-vertical"></i>
                        <i class="fa-solid fa-calendar-days"></i>
                        <p>Posted on March 10, 2015</p>
                    </div>
                    <div class="afterblogright">
                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu</p>
                    </div>
                    <div class="endofblog">
                        <button><a asp-controller="blogcontinue"><span>Continue Reading</span></a></button>
                    </div>
                </div>
            </div>
            <div style="padding-bottom: 2rem; margin: 0;" class="allofbolg">
                <div class="leftblog col-lg-6">
                    <img src="~/assets/images/6blog.jpg" alt="">
                </div>
                <div class="rightblog">
                    <div class="firsttype">
                        <i class="fa-solid fa-thumbtack"></i>
                        <p> Blog Image Post</p>
                    </div>
                    <div class="contentofblog">
                        <i class="fa-solid fa-user"></i>
                        <p> Posted by <span>admin</span></p>
                        <i class="privet fa-solid fa-grip-lines-vertical"></i>
                        <i class="fa-solid fa-calendar-days"></i>
                        <p>Posted on March 10, 2015</p>
                    </div>
                    <div class="afterblogright">
                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu</p>
                    </div>
                    <div class="endofblog">
                        <button><a asp-controller="blogcontinue"><span>Continue Reading</span></a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

