@model IEnumerable<Product>

<div class="pr-fr">
    @for (int i = 0; i < (int)Math.Ceiling((decimal)Model.Count() / 4); i++)
    {
        <div class="your-class2">
            @foreach (var item in Model)
            {
                <div class="slider-item">
                    <a href="product.html">
                        <div class="box">
                            <div class="img-div">
                                <img src="~/assets/images/saats6.jpg" alt="...">
                                <img src="~/assets/images/saats8.jpg" alt="...">
                                <div class="bag ">
                                    <div class="cart-ico">
                                        <div class="heaart">
                                            <button><a><i class="fa-solid fa-heart"></i></a></button>
                                        </div>
                                        <div class="cart">
                                            <button onclick="AddBasket(this)"><a asp-controller="" ><span>Add to Cart</span></a></button>
                                        </div>
                                        <div class="compare">
                                            <button><a href=""><i class="fa-solid fa-sliders"></i></a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="body-div">
                                <div class="rating2">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <br>
                                </div>
                                <div class="rating">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <h5 class="card-title">Donec eu furniture</h5>
                                    <div class="price-prod"><span id="ytprice">$74.00</span></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>