<section id="Mainprod">
    <div class="container">
        <div class="alprod row">
            <div class="left col-lg-5 ">
                <div id="zoom">
                    <img src="~/assets/images/sat.jpg" alt="">
                </div>
                <div class="row">
                    <div class="sliderofprod">
                        <div class="img-prod">
                            <img src="~/assets/images/saats3.jpg" alt="">
                        </div>
                        <div class="img-prod">
                            <img src="~/assets/images/saats5.jpg" alt="">
                        </div>
                        <div class="img-prod">
                            <img src="~/assets/images/saats3.jpg" alt="">
                        </div>
                        <div class="img-prod">
                            <img src="~/assets/images/saats3.jpg" alt="">
                        </div>
                        <div class="img-prod">
                            <img src="~/assets/images/saats3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-lg-5">
                <h4>Donec Eu Furniture</h4>
                <p class="brandofprod">Brand: <a href="">Rolex</a></p>
                <div class="prodstar">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p class="colorofprod">Color : <a href="">Gold</a></p>

                <p class="priceprod">$125.00</p>
                <div class="textprod">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco, Proin lectus ipsum, gravida
                        et mattis vulputate, tristique ut lectus
                    </p>
                </div>
                <hr>
                <form class="nextprodt" action="post" enctype="multipart/form-data">
                    <div class="quantityprod">
                        <span>Quantity</span>
                        @*<button style="position: absolute; background: transparent;" type="button" class="prodminus">
                            <i style="background: transparent;" class="fa-solid fa-minus"></i>
                        </button>
                        <button style="position: absolute; background: transparent; margin: 0 6rem 0;" type="button" class="prodplus">
                            <i style="background: transparent;" class="fa-solid fa-plus"></i>
                        </button>*@
                        <input type="text" id="quantityprodin" step="1" min="1" max name="quantityprod" value="1">
                    </div>
                    <button type="submit">Add to cart</button>
                    <div class="heardproduct">
                        <button style=" margin: 0; " class="prodheart" type="submit">
                            <i style="background: transparent;" class="fa-solid fa-heart"></i>
                        </button>
                    </div>

                </form>
                <div class="categoryprod">
                    <p>
                        <label>Categories:</label>
                        <a href="shop.html">Classic type</a>
                    </p>
                </div>
                <div class="icon-div">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-solid fa-rss"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Descreview">
    <div class="container">
        <div class="in-descrip">
            <a class="desc-btn">Description</a>
            @*<a class="review-btn">Reviews(1)</a>*@
        </div>
        <div id="reviewvshiden" class="review ">
            <div class="review-frst">
                <h2>1 review for Furniture</h2>
            </div>
            <div class="review-secnd ">
                <div class="usa">
                    <div class="sekil-01">
                        <img src="https://secure.gravatar.com/avatar/53444f91e698c0c7caa2dbc3bdbf93fc?s=120&d=mm&r=g" alt="">
                    </div>
                    <div class="pentagon">
                        <h4>ADMIN – September 12, 2017</h4>
                    </div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="baku">
                    <p>roadthemes</p>
                </div>
            </div>
            <div id="Add-a">
                <a href="">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <span>ADD A REVIEW</span>
                </a>

            </div>
        </div>
        <div id="descBtn" class="in-p">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </span><br>
            <br>
            <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem.
            </p>
        </div>
    </div>

</section> 