@model IEnumerable<Brand>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div style="margin-left: 17rem;margin-top: 7rem;padding-bottom: 27rem;" class="row">
    <div class="col-lg-12">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3">
                <h1 class="h3 mb-4 text-gray-800">Brand Page</h1>
            </div>
            <div class="col-lg-2 " style="text-align:end">
                <a asp-action="create" asp-controller="brand" asp-area="boss" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="indexContainer">
            @await Html.PartialAsync("_BrandIndexPartial",Model)
        </div>
    </div>
</div>

 