.shopheader {
  text-align: center;
}
.shopheader a {
  color: white;
}
.shopheader a:hover {
  color: rgb(161, 111, 18);
  transition: 0.6s;
}
.shopheader span {
  margin: 0 6px;
  color: white;
}

.your-classes {
  padding-bottom: 3rem;
}
.your-classes :hover .rating2 {
  visibility: visible;
}
.your-classes .slider-item {
  padding: 0 15px;
  width: 40%;
}
.your-classes .slider-item .box {
  position: relative;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: 0.3s;
}
.your-classes .slider-item .box:hover img {
  background: rgb(99, 98, 98);
  opacity: 0.4;
  transition: 0.5s ease all;
}
.your-classes .slider-item .box:hover .img-div img:nth-child(2) {
  display: none;
}
.your-classes .slider-item .box:hover .img-div .bag {
  visibility: visible;
}
.your-classes .slider-item .box .img-div {
  position: relative;
}
.your-classes .slider-item .box .img-div img:nth-child(1) {
  width: 100%;
}
.your-classes .slider-item .box .img-div img:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.your-classes .slider-item .box .img-div .bag {
  position: absolute;
  bottom: 11px;
  margin: auto;
  font-size: 14px;
  font-family: Marcellus, serif;
  letter-spacing: 0.1em;
  font-weight: 200;
  border-radius: 25px;
  max-width: 120%;
  margin: 5px 0 0 59px;
  z-index: 999;
  visibility: hidden;
}
.your-classes .slider-item .box .img-div .bag .cart-ico {
  margin: 3px;
  background: transparent;
  display: flex;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .heaart {
  background: transparent;
  margin: 7px 0 0 1px;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .heaart button {
  border: none;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .heaart button a i {
  color: #a3a3a3;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .heaart button a:hover i {
  color: rgb(161, 111, 18);
  transition: 0.7s;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .compare {
  background: transparent;
  margin: 7px 0 0 1px;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .compare button {
  border: none;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .compare button a i {
  color: #a3a3a3;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .compare button a:hover i {
  color: rgb(161, 111, 18);
  transition: 0.7s;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .cart {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #a3a3a3;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .cart button {
  border: none;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .cart button span {
  font-size: 14px;
  color: #ada9a9;
}
.your-classes .slider-item .box .img-div .bag .cart-ico .cart button:hover span {
  color: rgb(161, 111, 18);
  transition: 0.5s;
}
.your-classes .slider-item .box .img-div .bag i {
  font-size: 18px;
  color: #000;
}
.your-classes .slider-item .box .body-div {
  text-align: center;
}
.your-classes .slider-item .box .body-div .contunie-cart {
  z-index: 999;
  position: absolute;
  bottom: 11px;
  margin: auto;
  font-size: 14px;
  font-family: Marcellus, serif;
  letter-spacing: 0.1em;
  font-weight: 200;
  border-radius: 25px;
  max-width: 100%;
  margin: 5px 0 0 43px;
  z-index: 999;
}
.your-classes .slider-item .box .body-div .rating2 {
  text-align: center;
}
.your-classes .slider-item .box .body-div .rating2 i {
  font-size: 12px;
  color: #a65e0b;
}
.your-classes .slider-item .box .body-div .rating2 i:hover {
  color: #a27b4e;
}
.your-classes .slider-item .box .body-div .rating {
  align-items: center;
  margin-top: 10px;
}
.your-classes .slider-item .box .body-div .rating h5 {
  color: white;
}
.your-classes .slider-item .box .body-div .rating p {
  color: #a3a3a3;
  font-family: auto;
}
.your-classes .slider-item .box .body-div .rating i {
  color: white;
  font-size: 10px;
}
.your-classes .slider-item .box .body-div .rating i:hover {
  color: #a65e0b;
}
.your-classes .slider-item .box .body-div .rating span {
  margin-left: 7px;
  font-size: 12px;
  color: #a3a3a3;
}

#Main .container {
  padding: 0 50px;
}
#Main .container .row .left .hidden-close {
  display: none;
  text-align: right;
}
#Main .container .row .left .hidden-close button {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: auto;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 50px;
  padding: 0;
  background-color: unset;
}
#Main .container .row .left .hidden-close button i {
  color: red;
  margin-left: 5px;
  font-size: 10px;
}
#Main .container .row .left .categories {
  margin-bottom: 50px;
}
#Main .container .row .left .categories h3 {
  margin: 0 0 25px;
  color: #fff;
  padding: 0 0 10px;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Marcellus", serif;
}
#Main .container .row .left .categories .list .item {
  background: transparent;
}
#Main .container .row .left .categories .list .item button {
  border: none;
}
#Main .container .row .left .categories .list .item button:hover a {
  color: #a65e0b;
  transition: 0.5s;
}
#Main .container .row .left .categories .list .item button a {
  color: #fff;
}
#Main .container .row .left .price {
  margin-bottom: 50px;
}
#Main .container .row .left .price h3 {
  margin: 0 0 25px;
  color: #fff;
  padding: 0 0 10px;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Marcellus", serif;
}
#Main .container .row .left .price .range .price-input {
  margin-top: 20px;
}
#Main .container .row .left .price .range .price-input span {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
#Main .container .row .left .price .range input[type=number]::-webkit-outer-spin-button,
#Main .container .row .left .price .range input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#Main .container .row .left .price .range .slider {
  height: 2px;
  position: relative;
  border-radius: 0px;
  background-color: #f5f5f5;
}
#Main .container .row .left .price .range .slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 0px;
  background: #c26406;
}
#Main .container .row .left .price .range .range-input {
  position: relative;
}
#Main .container .row .left .price .range .range-input ::-moz-selection {
  color: #815509;
  background: #936804;
}
#Main .container .row .left .price .range .range-input ::selection {
  color: #815509;
  background: #936804;
}
#Main .container .row .left .price .range .range-input input {
  cursor: ew-resize;
  position: absolute;
  width: 100%;
  height: 12px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#Main .container .row .left .price .range .price-input {
  color: white;
}
#Main .container .row .left .price .range input[type=range]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  background: #ae6c02;
  border-radius: 10px;
  border: 2px solid #bc7307;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
#Main .container .row .left .price .range input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border: none;
  background: #492602;
  border: 2px solid #000;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
#Main .container .row .left .shopbrands h3 {
  margin: 0 0 25px;
  color: #fff;
  padding: 0 0 10px;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Marcellus", serif;
}
#Main .container .row .left .shopbrands .item {
  display: flex;
  justify-content: space-between;
}
#Main .container .row .left .shopbrands .item .ctgname {
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}
#Main .container .row .left .shopbrands .item .ctgname:hover {
  color: #d06c09;
  transition: 0.5s;
}
#Main .container .row .left .shopbrands .item .count {
  color: whitesmoke;
  font-size: 15px;
}
#Main .container .row .left .shopbrands-2 {
  margin-top: 10px;
}
#Main .container .row .left .shopbrands-2 h3 {
  margin: 21px 0 0 0;
  color: #fff;
  padding: 0 0 20px;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Marcellus", serif;
}
#Main .container .row .left .shopbrands-2 .item {
  display: flex;
  justify-content: space-between;
}
#Main .container .row .left .shopbrands-2 .item .ctgname {
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}
#Main .container .row .left .shopbrands-2 .item .ctgname:hover {
  color: #d06c09;
  transition: 0.5s;
}
#Main .container .row .left .shopbrands-2 .item .count {
  color: whitesmoke;
  font-size: 15px;
}
#Main .container .row .left .feature {
  margin-bottom: 50px;
}
#Main .container .row .left .feature h3 {
  margin: 50px 0 25px;
  color: white;
  padding: 0 0 10px;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Marcellus", serif;
}
#Main .container .row .left .feature .size-div {
  margin: -5px 0;
  display: flex;
  flex-wrap: wrap;
}
#Main .container .row .left .feature .size-div .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e6e6e6;
}
#Main .container .row .left .feature .size-div .item .img-div {
  width: 80px;
  border: 1px solid #dadada;
}
#Main .container .row .left .feature .size-div .item .img-div img {
  width: 100%;
  vertical-align: bottom;
}
#Main .container .row .left .feature .size-div .item .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0 10px 15px;
}
#Main .container .row .left .feature .size-div .item .details .rating {
  display: flex;
  align-items: center;
}
#Main .container .row .left .feature .size-div .item .details .rating i {
  font-size: 10px;
  color: #ea9f1d;
}
#Main .container .row .left .feature .size-div .item .details .title a {
  color: #868686;
  line-height: 20px;
  font-size: 14px;
  font-family: "Marcellus", serif;
  margin-bottom: 5px;
  max-width: 200px;
}
#Main .container .row .left .feature .size-div .item .details .price-div p {
  color: #c0a483;
  font-family: "Marcellus", serif;
  font-size: 15px;
  line-height: 15px;
}
#Main .container .row .left .feature .size-div .item .details .price-div p span {
  color: #868686;
  text-decoration: line-through;
}
#Main .container .row .right .all-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#Main .container .row .right .all-div .sol {
  display: flex;
  align-items: center;
}
#Main .container .row .right .all-div .sol .show {
  display: block !important;
}
#Main .container .row .right .all-div .sol .icon-div {
  height: 36px;
  padding: 9px 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Main .container .row .right .all-div .sol .icon-div .colactive {
  color: #000;
}
#Main .container .row .right .all-div .sol .icon-div i {
  color: white;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}
#Main .container .row .right .all-div .sol .icon-div i:hover {
  color: #936804;
}
#Main .container .row .right .all-div .sol .sortdd {
  height: 36px;
  display: flex;
  align-items: center;
  line-height: 30px;
  padding: 0 20px;
}
#Main .container .row .right .all-div .sol .sortdd .dropbtn {
  color: #a3a3a3;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
#Main .container .row .right .all-div .sol .sortdd .dropbtn i {
  font-size: 14px;
}
#Main .container .row .right .all-div .sol .sortdd .dropdown {
  position: relative;
  display: inline-block;
}
#Main .container .row .right .all-div .sol .sortdd .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 210px;
  left: -80px;
  top: 35px;
  overflow: auto;
  z-index: 999999;
  padding: 5px 10px;
}
#Main .container .row .right .all-div .sol .sortdd .dropdown-content a {
  color: #868686;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
#Main .container .row .right .all-div .sol .sortdd .dropdown-content a:hover {
  color: #936804;
}
#Main .container .row .right .all-div .sag {
  display: flex;
  justify-content: start;
  align-items: center;
}
#Main .container .row .right .all-div .sag i {
  display: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  line-height: 32px;
  padding: 0;
  margin-right: 5px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
}
#Main .container .row .right .all-div .sag i:hover {
  color: #936804;
}
#Main .container .row .right .all-div .sag p {
  display: inline-block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #868686;
}
#Main .container .row .right .all-div #products .row .your-class {
  padding-bottom: 3rem;
  display: flex;
}
#Main .container .row .right .all-div #products .row .your-class :hover .rating2 {
  visibility: visible;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item {
  padding: 0 15px;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box {
  position: relative;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: 0.3s;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box:hover img {
  background: rgb(99, 98, 98);
  opacity: 0.4;
  transition: 0.5s ease all;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box:hover .img-div img:nth-child(2) {
  display: none;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box:hover .img-div .bag {
  visibility: visible;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div {
  position: relative;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div img:nth-child(1) {
  width: 100%;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div img:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag {
  position: absolute;
  bottom: 11px;
  margin: auto;
  font-size: 14px;
  font-family: Marcellus, serif;
  letter-spacing: 0.1em;
  font-weight: 200;
  border-radius: 25px;
  max-width: 100%;
  margin: 5px 0 0 59px;
  z-index: 999;
  visibility: hidden;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico {
  margin: 3px;
  background: transparent;
  display: flex;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .heaart {
  background: transparent;
  margin: 7px 0 0 1px;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .heaart i {
  color: #a3a3a3;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .heaart:hover i {
  color: rgb(161, 111, 18);
  transition: 0.7s;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .compare {
  background: transparent;
  margin: 7px 0 0 1px;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .compare i {
  color: #a3a3a3;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .compare:hover i {
  color: rgb(161, 111, 18);
  transition: 0.7s;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .cart {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #a3a3a3;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .cart i {
  font-size: 14px;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag .cart-ico .cart:hover span {
  color: rgb(161, 111, 18);
  transition: 0.5s;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .img-div .bag i {
  font-size: 18px;
  color: #000;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div {
  text-align: center;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .contunie-cart {
  z-index: 999;
  position: absolute;
  bottom: 11px;
  margin: auto;
  font-size: 14px;
  font-family: Marcellus, serif;
  letter-spacing: 0.1em;
  font-weight: 200;
  border-radius: 25px;
  max-width: 100%;
  margin: 5px 0 0 43px;
  z-index: 999;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating2 {
  text-align: center;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating2 i {
  font-size: 12px;
  color: #a65e0b;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating2 i:hover {
  color: #a27b4e;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating {
  align-items: center;
  margin-top: 10px;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating h5 {
  color: white;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating p {
  color: #a3a3a3;
  font-family: auto;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating i {
  color: white;
  font-size: 10px;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating i:hover {
  color: #a65e0b;
}
#Main .container .row .right .all-div #products .row .your-class .slider-item .box .body-div .rating span {
  margin-left: 7px;
  font-size: 12px;
  color: #a3a3a3;
}

@media (max-width: 992px) {
  .left {
    max-width: 330px;
    width: 330px;
    display: block !important;
    position: fixed;
    top: 0;
    left: -330px;
    height: 100%;
    z-index: 99999;
    overflow: auto;
    transition: 0.5s;
    padding: 30px 30px 50px !important;
    box-shadow: 0 1px 12px 2px hsla(0, 0%, 56%, 0.3);
  }
  .left .hidden-close {
    display: block !important;
  }
  .right .all-div .sag i {
    display: flex !important;
  }
  .right .all-div .sag p {
    display: none !important;
  }
  .right .all-div .sol .icon-div {
    display: none !important;
  }
  .right #products .row .your-class {
    width: 20%;
  }
  .right #products .row .your-class .slider-item {
    width: 0 !important;
  }
}
@media (min-width: 992px) {
  .active-sidebar {
    display: none;
  }
}
@media (max-width: 768px) {
  #Main .left {
    width: 260px !important;
  }
  #Main .right .body-div {
    padding: 0 15px !important;
  }
}
@media (max-width: 1200px) {
  #Main .container {
    padding: 0 15px !important;
  }
}/*# sourceMappingURL=shop.css.map */