.headofwish {
  text-align: center;
}
.headofwish h1 {
  color: white;
  margin-bottom: 10px;
}
.headofwish .contentabout a {
  color: white;
}
.headofwish .contentabout span {
  color: rgb(145, 96, 7);
}

#Wishlist {
  padding: 5rem 0;
}
#Wishlist .container {
  width: 80%;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-thumbnail {
  max-width: 160px;
  min-width: 32px;
  width: 160px;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-thumbnail a {
  display: block;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-thumbnail a img {
  width: 70px;
  background-color: #f6f7f8;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-title {
  min-width: 200px;
  color: white;
}
#Wishlist .container .row .col-lg-12 .cart-table td.pro-title {
  padding-top: 2rem;
}
#Wishlist .container .row .col-lg-12 .cart-table td.pro-title a {
  font-size: 16px;
  color: white;
}
#Wishlist .container .row .col-lg-12 .cart-table td.pro-title a:hover {
  color: #ab6700;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-price {
  color: white;
  padding-top: 2rem;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-price span {
  display: block;
  font-size: 15px;
  color: white;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-quantity {
  color: white;
  padding-top: 23px;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-quantity .pro-qty {
  width: 50px;
  display: inline-block;
  margin: auto;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-quantity .pro-qty .inputer {
  width: 50px;
  height: 37px;
  display: flex;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-quantity .pro-qty .inputer .plus {
  background: transparent;
  border: none;
  color: white;
  padding-left: 5px;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-quantity .pro-qty .inputer .plus:hover {
  color: #ab6700;
  transform: 0.6s;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-quantity .pro-qty .inputer .minus {
  background: transparent;
  border: none;
  color: white;
  padding-right: 5px;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-quantity .pro-qty .inputer .minus:hover {
  color: #ab6700;
  transform: 0.6s;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-quantity .pro-qty input {
  padding-right: 0;
  font-size: 15px;
  border-radius: 0;
  background: transparent;
  border: 1px solid #e5e5e5;
  color: white;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-subtotal {
  color: white;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-subtotal span {
  display: block;
  font-size: 15px;
  color: white;
  margin-top: 23px;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-remove {
  color: white;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-remove i {
  color: white;
  padding-top: 20px;
  font-size: 20px;
  padding-left: 0px;
  cursor: pointer;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-remove i:hover {
  color: #ab6700;
  transition: 0.6s;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-add {
  padding-top: 26px;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-add a {
  background: rgb(230, 152, 6);
  width: 30%;
  font-family: auto;
  font-weight: 600;
  border: 1px solid rgb(13, 13, 13);
  color: white;
  font-size: 14px;
  padding: 12px 23px;
  border-radius: 10px;
}
#Wishlist .container .row .col-lg-12 .cart-table .pro-add a:hover {
  background: rgb(157, 104, 5);
  transition: 0.6s;
}
@media only screen and (max-width: 575px) {
  #Wishlist .container .row .col-lg-12 .cart-table th.pro-thumbnail a {
    width: 160px;
  }
  #Wishlist .container .row .col-lg-12 .cart-table td.pro-thumbnail a {
    width: 160px;
  }
}/*# sourceMappingURL=wishlist.css.map */