<div class="headofabout">
    <h1>About Us</h1>
    <div class="contentabout">
        <a asp-controller="home">Home</a>
        <span style="color: white; margin: 0 10px;">></span>
        <a asp-controller="about"><span>About Us</span></a>
    </div>
    <hr style="margin-top: 20px;">
</div>
<section id="Entryabout">
    <div class="container">
        <div class="imageabiuta">
            <div class="imgdiv">
                <img src="~/assets/images/13blog.jpg" alt="">
            </div>
            <div class="contextabita">
                <h3>Welcom To Monsta!</h3>
                <p>
                    Adipiscing lacus ut elementum, nec duis, tempor
                    litora turpis dapibus. Imperdiet cursus odio tortor
                    in elementum. Egestas nunc eleifend feugiat lectus
                    laoreet, vel nunc taciti integer cras. Hac pede dis,
                    praesent nibh ac dui mauris sit. Pellentesque mi,
                    facilisi mauris, elit sociis leo sodales accumsan.
                    Iaculis ac fringilla torquent lorem consectetuer,
                    sociosqu phasellus risus urna aliquam, ornare.
                </p>
                <span>
                    <em>
                        “There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form.”
                    </em>
                </span>
            </div>
        </div>
    </div>
</section>
<section id="Typeofabout">
    <div class="container">
        <h3>Why Chose Us?</h3>
        <div class="alloftypeabout">

            <div class="firstabout col-lg-4">
                <h5> Creative Design</h5>
                <p>
                    Erat metus sodales eget dolor consectetuer,
                    porta ut purus at et alias, nulla ornare velit amet enim
                </p>
            </div>
            <div class="firstabout col-lg-4">
                <h5> Creative Design</h5>
                <p>
                    Erat metus sodales eget dolor consectetuer,
                    porta ut purus at et alias, nulla ornare velit amet enim
                </p>
            </div>
            <div class="firstabout col-lg-4">
                <h5> Creative Design</h5>
                <p>
                    Erat metus sodales eget dolor consectetuer,
                    porta ut purus at et alias, nulla ornare velit amet enim
                </p>
            </div>
        </div>
    </div>
</section>
<section id="Typewithimage">
    <div class="container">
        <div class="allimagetype">
            <div class="card">
                <img src="~/assets/images/banner-home1.1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>What do we do?</h5>
                    <p class="card-text">
                        Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et quasi architecto
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="~/assets/images/banner-home1.2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>What do we do?</h5>
                    <p class="card-text">
                        Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et quasi architecto
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="~/assets/images/banner-home1.3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>What do we do?</h5>
                    <p class="card-text">
                        Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et quasi architecto
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Endofabout">
    <div class="container">
        <div class="allendofabout">
            <h3>What Our Custumers Says ?</h3>
            <div class="slickabout">
                <div class="sliderofaboutp">
                    <p>
                        Typi non habent claritatem insitam est usus legentis in
                        iis qui facit eorum claritatem. Investigationes
                        demonstraverunt lectores legere me lius quod ii
                        legunt saepius. Claritas est etiam processus dynamicus,
                        qui sequitur mutationem consuetudium lectorum.
                    </p>
                    <div class="sliderofabout">
                        <i class="fa-solid fa-circle-user"></i>
                        <div class="writerofslide">
                            <span>Katherine Sullivan</span>
                            <br>
                            <span class="secondwriter">JOHN DOE - Client</span>
                        </div>
                        <div class="rateofabout">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="sliderofaboutp">
                    <p>
                        Typi non habent claritatem insitam est usus legentis in
                        iis qui facit eorum claritatem. Investigationes
                        demonstraverunt lectores legere me lius quod ii
                        legunt saepius. Claritas est etiam processus dynamicus,
                        qui sequitur mutationem consuetudium lectorum.
                    </p>
                    <div class="sliderofabout">
                        <i class="fa-solid fa-circle-user"></i>
                        <div class="writerofslide">
                            <span>Jenifer Brown</span>
                            <br>
                            <span class="secondwriter">ABOSS- Client</span>
                        </div>
                        <div class="rateofabout">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="sliderofaboutp">
                    <p>
                        Typi non habent claritatem insitam est usus legentis in
                        iis qui facit eorum claritatem. Investigationes
                        demonstraverunt lectores legere me lius quod ii
                        legunt saepius. Claritas est etiam processus dynamicus,
                        qui sequitur mutationem consuetudium lectorum.
                    </p>
                    <div class="sliderofabout">
                        <i class="fa-solid fa-circle-user"></i>
                        <div class="writerofslide">
                            <span>Kathy Young</span>
                            <br>
                            <span class="secondwriter">ABOSS- Client</span>
                        </div>
                        <div class="rateofabout">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="padding: 1rem 0; color: #706e6e;">
    </div>
</section>