@model Product
@{
    ViewData["Title"] = "Create";
    IEnumerable<Category> categories = ViewBag.Categories;
    IEnumerable<Brand> brands = ViewBag.Brands;
    IEnumerable<Color> colors = ViewBag.Colors;


    SelectList selectListsItems = new SelectList(categories, nameof(Category.Id), nameof(Category.Name));
    SelectList brandListsItems = new SelectList(brands, nameof(Brand.Id), nameof(Brand.Name));
    SelectList colorListsItems = new SelectList(colors, nameof(Color.Id), nameof(Color.Name));
}

<div style="margin: 8rem 0 0 19rem;
    padding-bottom: 22rem;" class="row">
    <div class="col-lg-12">
        <div class="row justify-content-between">
            <div class="col-lg-3">
                <h1 class="h3 mb-4 text-gray-800">Product Create Page</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-check">
                <input asp-for=IsFeatured class="form-check-input">
                <label asp-for=IsFeatured class="form-check-label"></label>
            </div>
            <div class="form-check">
                <input asp-for=IsBestSelling class="form-check-input">
                <label asp-for=IsBestSelling class="form-check-label"></label>
            </div>
            <div class="form-check">
                <input asp-for=IsOnsale class="form-check-input">
                <label asp-for=IsOnsale class="form-check-label"></label>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="MainFile"></label>
                <input asp-for="MainFile" accept="image/jpeg" class="form-control-file">
                <span asp-validation-for="MainFile" class="text-danger"></span>

            </div>
            <div class="form-group ">
                <label asp-for="HoverFile"></label>
                <input asp-for="HoverFile" accept="image/jpeg" class="form-control-file">
                <span asp-validation-for="HoverFile" class="text-danger"></span>

            </div>
            <div class="form-group ">
                <label asp-for="Files"></label>
                <input asp-for="Files" accept="image/jpeg" class="form-control-file">
                <span asp-validation-for="Files" class="text-danger"></span>

            </div>

            <div class="form-group ">
                <label asp-for="CategoryId"></label>
                <select class="form-control" asp-for="CategoryId" asp-items="@selectListsItems">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="BrandId"></label>
                <select class="form-control" asp-for="BrandId" asp-items="@brandListsItems">
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="ColorId"></label>
                <select class="form-control" asp-for="ColorId" asp-items="@colorListsItems">
                </select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationPartial")
}
